p.announcement{
  color:rgb(202, 99, 99);
  font-weight:800;
}

.center{
  text-align:center;
}

.sponsor-logo-container .sponsor-logo{
  width: 16.66%;
}

.sponsor-logo-container-vertical .sponsor-logo{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sponsor-logo{
  float: left;
  text-align: center;
}

.sponsor-logo a{
  display: block;
  margin-right: 10px;
  margin-left: 10px;
}

.sponsor-logo img{
  max-height: 130px;
  max-width: 130px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .sponsor-logo img{
    max-height: 110px;
    max-width: 110px;
  }
}

.mb20{
  margin-bottom: 40px;
}

.fb-icon{
  margin-top: 5px;
  float: right;
}
